body 
{     
background-color:ivory;
padding:30px;
font-family:century gothic;
color:darkgreen;
}  

h1
{
font-family:century gothic;
color:darkgreen;
}

.dropdown 
{
cursor:pointer;
position:relative;
display:inline-block;
}

.dropdown-content 
{
display:none;
position:absolute;
background-color:#689c53;
box-shadow:0px 8px 16px 0px #5eb53c;
padding:12px 16px;
opacity:0.8;
}

.dropdown:hover .dropdown-content 
{
display:block;
}

a:link
{
text-decoration:none;
}

nav
{   
border:1px solid darkgreen;   
clear:both;        
background-color:#5eb53c;     
height:60%;
}    

nav ul
{
padding-top:2px;
}

nav li 
{     
display:inline;     
margin-right:30px;
}    
  
.dropdown, .dropdown-content, nav li a
{
color:white;
font-family:century gothic;
font-size:20px;
transition:padding 0.1s;
}

nav li a:hover 
{    
padding:5px 5px 5px 5px;
background-color:#689c53; 
opacity:0.8;
}

nav
{  
display: block;
}

table
{
background-color:#5eb53c;
border-radius:10px;
height:100%;
width:100%;	
box-shadow:0px 8px 16px 0px #c5c52e;
}

#summary
{
padding:40px;
margin:5px;
background-color:white;
}


th
{
background-color:#5eb53c;
height:40px;	
border-radius:10px 10px 0px 0px;
color:white;
padding:10px;
}

tr
{
background-color:ivory;	
}

td
{
padding:7px;
}

tr:hover
{
background-color:lavender;	
}

#checkout
{
height:50px;
width:150px;
float:right;
margin-left:10px;
color:white;
background-color:#689c53;
border-radius:5px;
font-family:century gothic;
font-size:17px;
text-align:center;
padding-top:20px;
}

#continue
{
height:50px;
width:240px;
float:right;
margin-left:10px;
color:white;
background-color:#689c53;
border-radius:5px;
font-family:century gothic;
font-size:17px;
text-align:center;
padding-top:20px;
}

.remove
{
background-color:#c5c52e;
border-radius:7px;
cursor:pointer;
color:white;
height:25px;
width:50px;
font-size:10px;
}

.remove:hover
{
background-color:green;	
}